<div style="width: 100%; height: 100%;" fxLayout="column" fxLayoutAlign="center start">
  <canvas #mycanvas id="mycanvas" width="1200" height="800"></canvas>
   <div style="width: 100%;">
    <div class="game-text-light" *ngFor="let row of gameArea" fxLayout="row" fxLayoutAlign="center start">
      <span class="game-text-secondary" [class.game-text-grass]="item === 1" style="width: 100%;" *ngFor="let item of row" >
        {{ item }}
      </span>
    </div>
     <div fxLayout="row" fxLayoutAlign="start center">

       <button ion-button ion-icon color="grass" [disabled]="!stop" (click)="playGame()">
         <ion-icon name="play"></ion-icon> &nbsp;&nbsp;Play
       </button>

       <button ion-button ion-icon style="margin-left: 20px;" color="success" [disabled]="stop" (click)="stopGame()">
         <ion-icon name="pause"></ion-icon> &nbsp;&nbsp;Pause
       </button>

     </div>
  </div>
</div>
